<main>
  <div id="image">
    <img src="../../../assets/images/logo.jpg" class="img"  height="120" />
    <h1 style="text-align: center;">تواصل معنا</h1>
  </div>

  <div class="contact">
    <h2 style="text-align: center; margin: 1em;">يمكنك التواصل معنا على الأرقام التالية </h2>
    <h3 style="text-align: center; margin: .2em;"> 78-837991 </h3>
    <h3 style="text-align: center; margin: .2em;"> 81-613269 </h3>

    <h2 style="text-align: center; margin: 1em;"> أو مراسلتنا على البريد الالكتروني</h2>
    <h3 style="text-align: center; margin: .2em;"> salmalababidi@yahoo.com </h3>
    <h3 style="text-align: center; margin: .2em;"> naserdin420@gmail.com </h3>

  </div>

</main>
