.subjects {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  background-color: #eee;
}

.subjects div {
  padding: 1em;
  border: 1px solid gray;
  box-shadow: 0 0 3px 3px lightgray;

  width: 40%;
  text-align: center;
}

form {
  margin-top: 1em;
}
