<main>
  <div id="image">
    <img src="../../../assets/images/logo.jpg" class="img"  height="120" />
    <h1 style="text-align: center;">من نحن</h1>
  </div>

  <div class="staff">
    <section *ngFor="let s of staff;">
      <div class="info">
          <img [src]="s.avatar"/>
          <div>
            <h3> {{s.name}}</h3>
            <h4> {{s.address}} </h4>
            <h4> {{s.degree}}
            </h4>
        </div>
      </div>
      <button class="more green" (click)="showInfo($event)">المزيد</button>
      <p class="info-2">
        {{s.info}}
      </p>
    </section>
  </div>
</main>
