<div id="image">
  <img src="../../../assets/images/logo.jpg" class="img"  height="120" />
  <h1 style="text-align: center;">عن المعهد</h1>
</div>
<div class="about">
  <h1>خطوة ثابتة نحو المستقبل</h1>
  <img src="../../../assets/images/b.jpg" width="100%"/>
  <p>
      يقع المعهد في لبنان، البقاع الشمالي في بلدة الفاكهة تم إنشاؤه عام 2014.
  </p>
  <p>
      بترخيص من قبل وزارة التربية والتعليم العالي، بموجب المرسوم رقم 470 في 2014/4/9، يقدم المعهد خدماته التعليمية لأكثر من 200 طالبا كل سنة، في شهادتين رسميتين:
      BT (البكالوريا الفنية) TS (االامتياز الفني).
  </p>
  <p>
      وقد تم الاعتراف بمعهدنا كأحد أهم وأفضل مراكز التعليم والتدريب المهني في المنطقة، فهو يوفر مجموعة واسعة من التخصصات الفنية، جنبا إلى جنب مع برامج تدريبية خاصة، وذلك بفضل تعليم ذا جودة عالية وتفانِ في العمل من قبل الموظفين الإداريين/المعلمين.
  </p>
  <p>
      الأستاذة سلمى اللبلبيدي، مديرة معهد القيروان الفني، مستعدة لاستثمار ما يزيد عن 20 عامًا من الخبرة لتوفير أفضل جودة للتعليم.
      <br>
      في معهدنا ، نعمل باستمرار للتعاون مع منظمات محلية وعالمية، من أجل تعزيز فهمنا لتنمية المجتمعات ، وتوفير تعليم ومعرفة أفضل للناس.
  </p>
</div>
