<main>
  <h1>وضع امتحان</h1>
  <ng-container *ngIf="!step1">
    <form>
      <div class="form-group col-md-12">
        <label for="level">المرحلة</label>
        <select required name="level" class="form-control" [(ngModel)]="level">
          <option value="">- - - </option>
          <option value="bt">BT</option>
          <option value="ts">TS</option>
        </select>
      </div>

      <div class="form-group col-md-12">
        <label for="class">الصف</label>
        <select required name="class" class="form-control" [(ngModel)]="clas">
          <option value="-">- - - </option>
        </select>
      </div>

      <div class="form-group col-md-12">
        <label for="subject">المادة</label>
        <select required name="subject" class="form-control" [(ngModel)]="subject">
          <option value="">- - - </option>
          <option value="bt-nurse-nurse"> العناية الصحية - BT1</option>
          <option value="bt-acc-social"> العلوم الاجتماعية- BT</option>
          <option value="bt-nurse-nurse"> العناية الصحية - BT3</option>
          <option value="ts-nurse-nurse"> العناية الصحية - TS</option>
          <option value="ts-mark-edara"> الادارة التجارية - TS</option>
          <option value="ts-pre-adab"> أدب أطفال - TS</option>
          <option value="ts-pre-tara"> طرائق التدريس - TS</option>
          <option value="ts-pre-tarikh"> تاريخ التيارات - TS</option>
        </select>
      </div>
      <div class="form-group col-md-12">
        <button (click)="next()" class="btn btn-primary btn-block">التالي</button>
      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="step1">
    <form>
      <div class="form-group col-md-12">
        <label for="level">الرجاء اختيار نوع السؤال</label>
        <select required name="level" class="form-control" (change)="changeType($event)">
          <option value="">- - - </option>
          <option value="mcq">خيارات متعددة</option>
          <option value="qa">سؤال/جواب</option>
        </select>
      </div>
      <div class="buttons">
        <button id="next" class="btn btn-primary">السؤال التالي</button>
        <button id="submit" class="btn btn-danger">حفظ الإختبار</button>
      </div>
    </form>
  </ng-container>


  <p class="info"></p>

  <ng-container *ngIf="questionType == 'mcq'">
    <app-quiz></app-quiz>
  </ng-container>
  <ng-container *ngIf="questionType == 'qa'">
    <app-question></app-question>
  </ng-container>

  <ng-container class="output">

  </ng-container>
</main>
