<main>
  <!-- <h1>وضع امتحان</h1> -->
  <ng-container *ngIf="!step1">
    <form>
      <!-- <div class="form-group col-md-12">
        <label for="level">المرحلة</label>
        <select required name="level" class="form-control" [(ngModel)]="level" (change)="getClasses($event)">
          <option value="">- - - </option>
          <option value="bt">BT</option>
          <option value="ts">TS</option>
        </select>
      </div> -->

      <div class="form-group col-md-12">
        <label for="class">إختر الصف</label>
        <select required name="class" class="form-control" [(ngModel)]="clas" (change)="getSubjects($event)">
          <option value="-">- - - </option>
          <option value="bt3-nursing">bt3-nursing </option>
          <option value="bt1-nurse">bt1-nurse</option>
          <option value="bt-accounting">bt-accounting </option>
        </select>
      </div>

      <div class="form-group col-md-12">
        <label for="subject">إختر المادة</label>
        <select required name="subject" class="form-control" [(ngModel)]="subject">
          <option *ngFor="let sub of subsNames" [value]="sub.key">{{sub.value}}</option>
        </select>
      </div>
      <div class="form-group col-md-12">
        <button (click)="next()" class="btn btn-primary btn-block">التالي</button>
      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="step1">
    <form>
      <div class="form-group col-md-12">
        <label for="level"> إختر نوع السؤال</label>
        <select required name="level" class="form-control" (change)="changeType($event)">
          <option value="">- - - </option>
          <option value="mcq">خيارات متعددة</option>
          <option value="qa">سؤال/جواب</option>
        </select>
      </div>
      <div class="buttons">
        <button id="submit" class="btn btn-danger">حفظ الإختبار</button>
      </div>
    </form>
  </ng-container>

  <p class="info"></p>

  <ng-container *ngIf="questionType == 'mcq'">
    <app-quiz (nextEvent)="addQuiz($event)"></app-quiz>
  </ng-container>
  <ng-container *ngIf="questionType == 'qa'">
    <app-question (nextEvent)="addQuestion($event)"></app-question>
  </ng-container>

  <ng-container class="output">

  </ng-container>
</main>
