form {
  margin-bottom: 1em;
  width: 90%;
}

select {
  background-color: #efefef;
}

section {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.btn {
  margin-bottom: 1em;
  font-family: amiri;
}

