<main>
  <div id="image">
      <i
        style="font-size: 2em; color: rgb(102, 0, 102);"
        class="fas fa-users-class">
      </i>
      <h3>بوابة الطلاب</h3>
  </div>

  <p class="alert alert-danger" *ngIf="error">{{error}}</p>
  <section class="wrapper">
    <form (ngSubmit)="onSubmit()">
      <fieldset>
        <div class="form-group">
          <label for="email">Email address</label>
          <input name="email" [(ngModel)]="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
          <div class="invalid-feedback">Sorry, that username's taken. Try another?</div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input name="password" [(ngModel)]="password" type="password" class="form-control" id="password" placeholder="Password">
          <div class="invalid-feedback">Sorry, that username's taken. Try another?</div>
        </div>
        <button type="submit" class="btn btn-success btn-block">Submit</button>
      </fieldset>
    </form>
  </section>
</main>
